# © 2024 Henri GEIST <geist.henri@laposte.net>
#
# SPDX-License-Identifier: CC0-1.0+

man/*.gz
man/*.[17]
man/*.draft
specs/.asciidoctor/
specs/images/
specs/*.html
specs/*.pdf
specs/*.xml
specs/*.md
specs/*.req
tests/results/
tests/*.req
