Source: bash-libs
Section: utils
Priority: optional
Maintainer: piseb <piseb@mailo.com>
Build-Depends: debhelper-compat (= 13), pandoc, reuse
Standards-Version: 4.5.1
Homepage: https://foopgp.org
Rules-Requires-Root: no
Vcs-Git: https://codeberg.org/foopgp/bash-libs.git
Vcs-Browser: https://codeberg.org/foopgp/bash-libs

Package: bash-libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, bsdutils, bash-completion
Description: bash-libs: set of bash executables which may also be sourced as libraries.
  To find out what they can do for you, please read the bash-libs 7 manpage.
